@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 16px;
}

header {
  display: grid;
  align-items: center;
  max-width: 1380px;
  margin: auto;
  padding: 0 2rem;
}

.logo {
  height: 2.8rem;
  padding: 0 0;
  grid-area: logo;
}

.navigation-bar {
  display: flex;
  align-items: center;
  grid-area: navigation;
}

.navigation-sinscrire {
  padding: 2rem;
  text-align: right;
  color: #0065fc;
  font-weight: 600;
  grid-area: inscription;
}
.navigation-sinscrire:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 600px) {
  .header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navigation inscription";
  }
  .navigation-lien {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    border-top: 2px solid transparent;
    border-bottom: 3px solid transparent;
  }
  .navigation-lien:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
  }
}
@media screen and (max-width: 599px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . inscription" "navigation navigation navigation";
    padding: 0;
  }

  .logo {
    order: 0;
    padding-left: 1.5rem;
  }
  .navigation-sinscrire {
    order: 1;
  }
  .navigation-bar {
    order: 2;
    margin-bottom: 2rem;
  }

  .navigation-lien {
    border-top: none;
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
    padding: 1rem 2rem;
    text-align: center;
  }

  .navigation-lien:hover {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
  }
}

main {
  max-width: 1380px;
  margin: auto;
  padding: 0 2rem;
}

.recherche-h1 {
  margin: 0;
}
.recherche-p {
  margin-top: 0.4rem;
}
#recherche-ville {
  display: flex;
  margin-bottom: 2rem;
}
#localisation {
  background-color: #f2f2f2;
  padding: 1rem 1.2rem;
  border-radius: 1rem 0 0 1rem;
}

.recherche-input {
  border: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  padding: 0 1rem;
  width: 10rem;
  font-family: "raleway";
  font-size: 1.1rem;
  font-weight: 700;
}
.recherche-bouton {
  background-color: #0065fc;
  color: #ffff;
  font-family: "raleway";
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  padding: 0 1rem;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
  outline: none;
}
.recherche-bouton:hover {
  transform: scale(1.05);
}

#loupe {
  display: none;
}

@media screen and (max-width: 599px) {
  #recherche-ville {
    margin-top: 2rem;
  }
  .recherche-bouton-texte {
    display: none;
  }
  #loupe {
    display: initial;
  }

  .recherche-bouton {
    border-radius: 1rem;
    margin-left: -1rem;
  }
}

#filtres {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.titre-filtres {
  display: flex;
  align-items: center;
  margin: 0 2rem 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.boutons-filtres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.bouton-filtre {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border: 2px solid #f2f2f2;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
.bouton-filtre:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
}
.bouton-filtre > i {
  background-color: #deebff;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  color: #0065fc;
  margin: -2px;
  justify-content: center;
}

.bouton-filtre > span {
  margin: 0 1rem;
}

#info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#info > i {
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  color: #0065fc;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
}
#info > span {
  margin: 0 0 0 0.7rem;
}

/*Hebergements*/

.section-hebergements {
  display: grid;
  column-gap: 2.5rem;
  row-gap: 2rem;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 3rem;
}

.hebergement {
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  /*max-width: 880px;*/
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}
.hebergements-titre {
  grid-column: 1 / -1;
}
.cartes-hebergements {
  background-color: #ffff;
  border-radius: 1.3rem;
  box-shadow: 0 5px 10px #d6d6d6;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.4rem;
}
.cartes-hebergements:hover {
  transform: scale(1.01);
}

.carte-hebergements-description {
  margin: 0 0 0.3rem 0.7rem;
  font-size: 0.9rem;
}
.carte-hebergements-figure {
  margin: 0;
}
.image-h-1 {
  height: 7rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.carte-hebergements-figure-legende {
  margin: 0.5rem 0 0.3rem 0.7rem;
}
.hebergement-plus {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

/*Populaires*/

.image-h-2 {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}

.hebergements-populaires-titre {
  display: flex;
  justify-content: space-between;
}

.hebergements-populaires {
  background-color: #f2f2f2;
  /*max-width: 342px;*/
  border-radius: 1.5rem;
  padding: 2rem;
  display: grid;
  row-gap: 2rem;
}
.cartes-hebergements-populaires {
  background-color: #ffff;
  border-radius: 1.3rem;
  box-shadow: 0 5px 10px #d6d6d6;
  height: 100%;
  min-height: 145px;
  max-height: 145px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.4rem;
}
.cartes-hebergements-populaires:hover {
  transform: scale(1.01);
}

.cartes-hebergements-populaires > a {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: auto;
  margin: 0;
}

.carte-hebergements-populaire-figure {
  margin: 0;
  max-width: 40%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.carte-hebergements-populaire-texte {
  position: relative;
  width: 60%;
  max-width: 60%;
  height: 80%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.hebergements-pop-vide {
  flex-grow: 1;
  padding-bottom: 1rem;
}
.carte-hebergements-figure-legende-titre {
  margin: 0;
}
.carte-hebergements-description-2 {
  margin: 0 0 0.3rem 0;
  font-size: 0.9rem;
}
.carte-hebergements-evaluation {
  margin: 0.6rem 0 0 0.6rem;
  font-size: 0.8rem;
}
.carte-hebergements-pop-evaluation {
  margin: 0;
  font-size: 0.8rem;
}

.carte-hebergements-figure-legende-2 {
  margin: 0 0 0.3rem 0;
}
.active-true {
  color: #0065fc;
}
.active-false {
  color: #e4e4e4;
}
@media screen and (max-width: 1280px) {
  .section-hebergements {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .hebergements-populaires {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    /*grid-template-rows: auto 10rem;*/
    grid-row-start: 1;
  }
  .hebergements-populaires-titre {
    grid-column: 1 / -1;
  }
}
@media screen and (max-width: 1000px) {
  .hebergements-populaires {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) and (min-width: 876px) {
  .carte-hebergements-populaire-figure {
    max-width: 300px;
  }
}

@media screen and (max-width: 899px) and (min-width: 600px) {
  .hebergement {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .hebergement {
    grid-template-columns: 1fr;
  }
  .carte-hebergements-populaire-texte {
    padding: 0.3rem;
    height: 100%;
  }
}
@media (max-width: 390px) {
  .carte-hebergements-figure-legende-titre {
    font-size: 0.8rem;
  }
}

/*Activités*/

.activites {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
  column-gap: 2.5rem;
}

.activites-carte {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 5px 10px #d3d3d3;
}
.activites-carte:hover {
  transform: scale(1.01);
}
.activites-carte-globale {
  position: relative;
  flex: 1;
}
.activites-carte-img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.activites-carte-titre {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
}

.activites-titre {
  grid-column: 1 / -1;
}

@media (min-width: 1000px) {
  .activites {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3rem 12rem 2.5rem 2.5rem 10rem;
  }

  .carte1 {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
  }
  .carte2 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  .carte3 {
    grid-column: 3 / 4;
    grid-row: 2 / 6;
  }
  .carte4 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  .carte5 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }
  .carte6 {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
  }
}

@media (max-width: 999px) {
  .activites {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem 12rem 12rem;
    row-gap: 2rem;
  }
}
@media (max-width: 900px) {
  .activites {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 12rem 12rem 12rem;
    row-gap: 2rem;
  }
}
@media (max-width: 600px) {
  .activites {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem repeat(6, 12rem);
    row-gap: 2rem;
  }
}

/*Footer*/

.footer {
  background-color: #f2f2f2;
}
.pied-de-page {
  display: flex;
  max-width: 1380px;
  margin: auto;
  padding: 0 1rem;
  box-sizing: border-box;
}
.pied-de-page-bloc {
  width: 33%;
  padding: 2rem 0;
}
.pied-de-page-bloc-lien {
  display: block;
  margin: 1rem 0;
}
.pied-de-page-bloc-lien:hover {
  color: #0065fc;
}
@media (max-width: 800px) {
  .pied-de-page {
    flex-direction: column;
  }
  .pied-de-page-bloc {
    padding-bottom: 0;
    width: 100%;
  }
}
